<article>
  <div>
    <img src="<%= article.image_url %>" />
    <strong><%= article.title %></strong>
  </div>

  <div>
    <%= article.description %>
  </div>

  <div>
    Likes: <%= article.likes %>
    <br>
    <%= link_to "Like", article_path(article) %>
  </div>
</article>
